<footer class="page__footer footer">
	<ul class="footer__list main-links footer-links">
		<li class="footer-links__item">
			<a class="footer-links__link" href="#">Поэзия</a>
		</li>
		<li class="footer-links__item">
			<a class="footer-links__link" href="#">Проза</a>
		</li>
		<li class="footer-links__item">
			<a class="footer-links__link" href="#">Теория</a>
		</li>
		<li class="footer-links__item">
			<a class="footer-links__link" href="#">Интервью</a>
		</li>
	</ul>
	<ul class="footer__list disabled-links footer-links">
		<li class="footer-links__item">Гипертекстовая Поэзия</li>
		<li class="footer-links__item">Гипертекстовая Проза</li>
		<li class="footer-links__item">Гипертекстовая Теория</li>
		<li class="footer-links__item">Гипертекстовая Интервью</li>
	</ul>
	<ul class="footer__list main-links footer-links">
		<li class="footer-links__item">
			<a class="footer-links__link" href="#">О нас</a>
		</li>
		<li class="footer-links__item disabled-links__item">Новости</li>
	</ul>
	<ul class="footer__list main-links footer-links">
		<li class="footer-links__item">
			<a class="footer-links__link" href="#">Авторы</a>
		</li>
		<li class="footer-links__item disabled-links__item">Товары</li>
	</ul>

	<ul class="footer__list social-list">
		<li class="social-list__item">
			<a href="#" target="blank" aria-label="Группа вконтакте">
				<img
					alt="Иконка вконтакте"
					width="40"
					height="40"
					src="/images/vk.svg"
				/>
			</a>
		</li>
		<li class="social-list__item">
			<a href="#" target="blank" aria-label="Страница в инстограмме">
				<img
					alt="Иконка вконтакте"
					width="40"
					height="40"
					src="/images/inst.svg"
				/>
			</a>
		</li>
	</ul>

	<p class="footer-links design-link">
		Дизайн — <a class="design-link__item" href="#">iliailia</a>
	</p>
</footer>
