<footer class="page__footer footer">
	<div class="footer__wrapper">
		<ul class="footer__list main-links footer-links">
			<li class="footer-links__item">
				<a class="footer-links__link" href="/tag/poetry">Поэзия</a>
			</li>
			<li class="footer-links__item">
				<a class="footer-links__link" href="/tag/prose">Проза</a>
			</li>
			<li class="footer-links__item">
				<a class="footer-links__link" href="/tag/theory">Теория</a>
			</li>
			<li class="footer-links__item">
				<a class="footer-links__link" href="/tag/interview">Интервью</a>
			</li>
		</ul>
		<ul class="footer__list main-links footer-links">
			<li class="footer-links__item">
				<a class="footer-links__link" href="/about">О нас</a>
			</li>
			<li class="footer-links__item">
				<a class="footer-links__link" href="/authors">Авторы</a>
			</li>
			<li class="footer-links__item">
				<a class="footer-links__link" href="/product">Товары</a>
			</li>
		</ul>
		<ul class="footer__list social-list">
			<li class="social-list__item">
				<a href="#" target="_blank" aria-label="Группа вконтакте">
					<img
						alt="Иконка вконтакте"
						width="40"
						height="40"
						src="/images/vk.svg"
					/>
				</a>
			</li>
			<li class="social-list__item">
				<a href="#" target="_blank" aria-label="Страница в инстограмме">
					<img
						alt="Иконка вконтакте"
						width="40"
						height="40"
						src="/images/inst.svg"
					/>
				</a>
			</li>
		</ul>
	</div>
</footer>
