<header class="page__header header">
  <div class="header__search search">
    <input
					class="search__input"
					type="text"
					aria-label="Поиск внутри сайта"
				/>
  </div>

  <a class="header__logo"> Незримая Надстройка </a>

  <button class="header__menu menu" aria-label="Кнопка для раскрытия меню">
    <span class="menu__line line-1"></span>
    <span class="menu__line line-2"></span>
  </button>

  <nav class="header__navigation navigation">
    <ul class="navigation__list">
      <li class="navigation__item">Главная</li>
      <li class="navigation__item">Текста</li>
      <li class="navigation__item">Товары</li>
      <li class="navigation__item">Авторы</li>
      <li class="navigation__item">О нас</li>
    </ul>
  </nav>
</header>