.articles {
	/* padding: 2rem; */
	padding-bottom: 9rem;

	&__tags-list {
		display: flex;
	}

	&__tags-item:not(:last-child) {
		margin-right: 1.25rem;
	}

	&__tags-link {
		display: block;
		padding: 0.75rem 1rem 0.5rem;
		background-color: var(--primary-color);
		color: var(--white-color);
		line-height: 75.5%;

		border-radius: 0.625rem;

		text-transform: uppercase;
		text-decoration: none;
	}

	&__header-wrapper {
		background-size: cover;
		background-position: center;
	}

	&__content {
		margin-top: 4rem;
		padding: 0 2rem;
		& p {
			font-family: 'Wremena';
			font-style: normal;
			font-weight: normal;
			font-size: 2rem;
			line-height: 135%;
			color: var(--primary-color);
			word-break: break-word;

			&:not(:last-child) {
				margin-bottom: 4rem;
			}
		}

		& h2 {
			margin-top: 6rem;
			margin-bottom: 3rem;

			font-family: 'Wremena';
			font-style: normal;
			font-weight: bold;
			font-size: 2.75rem;
			line-height: 80%;
			color: var(--primary-color);
		}

		& ul,
		ol {
			padding-left: 1.5rem;
		}

		& li {
			list-style: auto;
		}

		& img {
			width: 100%;
		}

		& .poem p:not(:last-child),
		.interview p:not(:last-child) {
			margin-bottom: 3rem;
		}
	}
}

.articles-header {
	background-color: rgba(0, 0, 0, 0.7);
	padding: 2rem;
	&__date {
		margin-top: 9rem;
		margin-bottom: 2rem;
		color: var(--white-color);
	}

	&__title {
		margin-bottom: 1rem;
		color: var(--white-color);
	}

	&__subtitle {
		margin-bottom: 2rem;
		color: var(--white-color);
	}

	&__author {
		color: var(--white-color);
	}

	&__wrapper-img {
		margin-top: 2rem;
		padding-left: 2rem;
	}

	&__img {
	}

	&__back {
	}
}

.poem {
	display: flex;
	flex-direction: column;

	& div {
		width: 45%;
		align-self: flex-end;

		&:nth-child(2n) {
			text-align: end;
			align-self: flex-start;
		}
	}
}

.interview {
	margin-top: 6rem;

	& p bold {
		font-weight: bold;
	}
}

.article-title {
	width: max(320px, 50%);
	p {
		font-family: 'Neue Machina';
		font-style: normal;
		font-weight: normal;
		font-size: 2rem;
		line-height: 115%;
		color: var(--primary-color);
	}
}

@media (min-width: 1024px) {
	.articles-header {
		padding: 4rem 2rem;
		&__date {
			margin-top: 12.125rem;
		}

		&__title {
			font-size: 7.25rem;
		}
	}

	.poem div {
		width: 100%;
		align-self: flex-start;

		&:nth-child(2n) {
			text-align: start;
			align-self: flex-start;
		}
	}

	.articles__content {
		& p {
			font-size: 3rem;
		}
		& h2 {
			font-size: 7.25rem;
		}
	}

	.article-title p {
		font-size: 2rem;
	}
}
