.authors-page {
	padding: 0 2rem;
}

.author {
	padding: 2rem;
	&__info {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-top: 4rem;
	}

	&__img {
		aspect-ratio: 1;
		object-fit: cover;
		width: min(100%, 415px);
	}

	&__text {
		width: max(288px, 50%);
		margin-bottom: 2rem;
	}

	&__city {
		margin-top: 1rem;
	}

	&__description {
		margin-top: 3rem;
	}

	&__social-list {
		display: flex;
		flex-wrap: wrap;
		margin-top: 3rem;
		list-style: none;
	}

	&__social-item:not(:last-child) {
		margin-right: 7.75rem;
	}

	&__social-link {
		text-decoration: underline;
	}

	&__works {
		margin-top: 2rem;
	}

	&__content {
		margin-top: 6rem;
		font-family: var(--secondary-font);
		color: var(--primary-color);
		font-style: normal;

		& h2 {
			margin-bottom: 2px;
			font-weight: bold;
			font-size: 2.75rem;
			line-height: 80%;
			font-family: var(--primary-font);
		}

		& ul {
			margin-top: 2rem;
			border: 1px solid #131313;
			border-left: none;
			border-right: none;
		}

		& li {
			padding: 3rem 0;

			border-bottom: 1px solid #666666;
			font-size: 2rem;
			line-height: 115%;

			&:last-of-type {
				border: none;
			}
		}
	}
}

@media (min-width: 880px) {
	.author {
		&__name {
			font-size: 12rem;
		}
	}
}
