.main-page {
	padding: 6rem 2rem 0;
}

.best-pages {
	margin-bottom: 6rem;

	&__list {
		display: flex;
		column-gap: 3rem;
		align-items: center;

		width: calc(100% + 4rem);
		margin-left: -2rem;
		padding-left: 2rem;

		margin-top: 4rem;

		list-style: none;
		overflow: auto;

		&::-webkit-scrollbar {
			width: 0;
			height: 0;
		}
	}

	&__link-wraper {
		margin-top: 3rem;

		background-image: url('/images/arrow.svg');
		background-position: 100%;
		background-repeat: no-repeat;
		background-size: 6.25rem 2.5rem;
	}

	&__link {
		color: var(--primary-color);
		text-decoration: none;
	}
}

.last-pages {
	margin-bottom: 9rem;
	&__title {
		margin-bottom: 3rem;
	}

	&__list {
		list-style: none;
	}

	&__item:not(:first-child) {
		margin-top: 4rem;
	}
}

.pages {
	position: relative;
	&__wrapper-img {
		min-width: 31.25rem;
	}

	&__img {
		&_full {
			width: calc(100% + 4rem);
			aspect-ratio: 8 / 5;
			margin-left: -2rem;
		}
	}

	&__title {
		margin-top: 2rem;
	}

	&__date {
		margin-top: 1rem;
	}

	&__tags {
		position: absolute;
		top: 2rem;
		left: 2rem;

		padding: 0.75rem 1rem 0.5rem;

		font-style: normal;
		font-weight: 500;
		font-size: 1.5rem;
		line-height: 75.5%;
		letter-spacing: 0.07em;
		text-transform: uppercase;

		background: #ffffff;
		border-radius: 0.625rem;
	}
}

.about {
	width: calc(100% + 4rem);
	padding: 6rem 2rem 9rem;
	margin-left: -2rem;

	background-color: var(--primary-color);
	color: var(--white-color);

	&__title {
		font-style: normal;
		font-weight: bold;
		font-size: 3.5rem;
		line-height: 115%;
	}

	&__subtitle {
		margin-top: 3rem;
		font-style: normal;
		font-weight: 300;
		font-size: 2.25rem;
		line-height: 115%;
	}
}
