.tag-page {
	padding: 0;

	&_not-padding {
		padding-top: 0;
	}

	&__section {
		width: calc(100% + 4rem);
		margin-left: -2rem;
		padding: 3rem 2rem;

		&:not(:first-of-type) {
			border-top: 0.25rem solid var(--primary-color);
		}
	}
}
