---
title: 'О нас'
permalink: /about/
layout: page.njk
---

{% include 'header.njk' %}

<main class="about-page">
  <h1 class="visually-hidden">О нас</h1>
  <p class="info">
    В 2017 году в Симферополе состоялся первый 
    съезд Исследователей крымскости. Полноценно
    мы заявили о себе в ЦГДБ им. А. Гайдара, <br/> 
    где и провели пилотный показ готовящегося 
    проекта. <br /> В читательском зале мы объявили об 
    очень смелой идее – перенести наследие трех 
    коренных этносов полуострова (караимского, 
    крымскотатарского, крымчакского) в 
    contemporary art, занять сувенирный рынок и 
    работать в передовых текстовых форматах.
  </p>
</main>

{% include 'footer.njk' %}