---
title: 'Незримая надстройка'
permalink: index.html
layout: page.njk
---

{% include 'header.njk' %}

<main class="main-page">
	<h1 class="visually-hidden">Незримая надстройка</h1>

	<section class="about">
		<p class="about__subtitle">
			Переоткрытие сокровищ домодерного Крыма, вселенные в форме кенас,
			вымышленные этюды Мешкова, покраска Черного моря, трансисторизм и
			бойсовские татары
		</p>
	</section>

	<section class="last-pages">
		<ul class="last-pages__list">
			{% for page in pages %}
			<li class="last-pages__item">
				<div class="pages">
					<img class="pages__img pages__img_full" src="{{ page.image }}" />
					<div class="pages__wrapper-text">
						<div class="pages__tags">{{ page.tags }}</div>
						<p class="pages__title grotesk grotesk-nav">{{ page.title }}</p>
						<p class="pages__date grotesk grotesk_secondary grotesk-b2">
							{{ page.date }}
						</p>
					</div>
				</div>
			</li>
			{%endfor%}
		</ul>
		<div class="best-pages__link-wraper">
			<a href="#" class="best-pages__link grotesk grotesk-b1">
				Остальные публикации
			</a>
		</div>
	</section>

	{{ content | safe }}
</main>

{% include 'footer.njk' %}
