---
title: 'Незримая надстройка'
permalink: index.html
layout: page.njk
---

{% include 'header.njk' %}

<main class="main-page">
	<h1 class="visually-hidden">Незримая надстройка</h1>

	<section class="about">
		<!-- <h2 class="about__title">Незримая Надстройка</h2> -->
		<p class="about__subtitle">
			Переоткрытие сокровищ домодерного Крыма, вселенные в форме кенас,
			вымышленные этюды Мешкова, покраска Черного моря, трансисторизм и
			бойсовские татары
		</p>
	</section>

	<section class="last-pages">
		<h2 class="last-pages__title grotesk grotesk-h1">Все публикации</h2>
		<ul class="last-pages__list">
			{% for page in collections.articles %}
			<li class="last-pages__item">
				<a href="{{ page.url }}">
					<div class="pages">
						<div class="pages__tags">{{ page.data.pageTags[0].name }}</div>
						<div class="pages__wrapper-img">
							<img
								class="pages__img pages__img_full"
								width="100%"
								src="{{ page.url }}{{ page.data.picture.src }}"
							/>
						</div>
						<p class="pages__title grotesk grotesk-nav">
							{{ page.data.title }}
						</p>
						<p class="pages__date grotesk grotesk_secondary grotesk-b2">
							{{ page.date | transformDate }}
						</p>
					</div>
				</a>
			</li>
			{%endfor%}
		</ul>
	</section>

	{{ content | safe }}
</main>

{% include 'footer.njk' %}
