---
title: 'Ответ'
permalink: /response/
layout: page.njk
---

{% include 'header.njk' %}

<main class="response-page">
  <!-- Надо подумать как правильно назвать -->
	<h1 class="visually-hidden">Ответ сервера</h1>
	<h2 class="response-page__header">Информация о заказе</h2>
	<p class="response-page__text">Ваш заказ успешно принят в обработку.</p>
	<p class="response-page__text">
		Cотрудник Надстройки свяжется с вами как только, так сразу. Всего хорошего.
	</p>
	<a href="/" class="response-page__link">Продолжить просмотр</a>
</main>

{% include 'footer.njk' %}
