---
pagination:
  data: test
  size: 1
  alias: product
layout: page.njk
permalink: "/product/{{product.name | slug}}/"
title: 'Товар'
---

{% include 'header.njk' %}

<main class="product-page">
	<h1 class="visually-hidden">Карточка товара - {{product.name}}</h1>
	<article class="card card_full">
		<div class="card__carousel card__carousel_one">
			<img
				class="card__img"
				src="{{product.image[0]}}"
				alt="Тут должен быть крутой текст описывающий картину"
				width="100%"
			/>
			<ul class="card__carousel-control">
				<li class="card__carousel-item">
					<button
						class="card__carousel-button"
						aria-label="Переключить на первую картинку"
					></button>
				</li>
				<li class="card__carousel-item">
					<button
						class="card__carousel-button"
						aria-label="Переключить на вторую картинку"
					></button>
				</li>
				<li class="card__carousel-item">
					<button
						class="card__carousel-button card__carousel-button_active"
						aria-label="Переключить на третью картинку"
					></button>
				</li>
				<li class="card__carousel-item">
					<button
						class="card__carousel-button"
						aria-label="Переключить на четвертую картинку"
					></button>
				</li>
				<li class="card__carousel-item">
					<button
						class="card__carousel-button"
						aria-label="Переключить на пятую картинку"
					></button>
				</li>
			</ul>
		</div>
		<div class="card__wrapper card__wrapper_one">
			<h2 class="card__header grotesk grotesk-h2">{{product.name}}</h2>
			<span class="card__price">{{product.price}} <span>₽</span></span>
			<a class="card__link" href="/order/?id={{product.id}}">Купить</a>
			<p class="card__description">
				{{product.description}}
			</p>
			<div class="card__details">
				<h3 class="card__details-header">Детали</h3>
				<ul class="card__details-list">
					{%for details in product.tags%}
					<li class="card__details-item">
						<span class="card__details-item_left">{{details.tagKey}}:</span>
						<span class="card__details-item_right">{{details.tagValue}}</span>
					</li>
					{%endfor%}
					<!-- <li class="card__details-item">
						<span class="card__details-item_left">Размер:</span>
						<span class="card__details-item_right">16 × 24 см</span>
					</li>
					<li class="card__details-item">
						<span class="card__details-item_left">Материал:</span>
						<span class="card__details-item_right">Акрил, ткань, керамика</span>
					</li>
					<li class="card__details-item">
						<span class="card__details-item_left">Размер:</span>
						<span class="card__details-item_right">16 × 24 см</span>
					</li> -->
				</ul>
			</div>
		</div>
	</article>
</main>

{% include 'footer.njk' %}
