---
pagination:
  data: constant['listTag']
  size: 1
  alias: tag
layout: page.njk
permalink: /tag/{{tag | slug}}/
---

{% include 'header.njk' %}

<main class="tag-page">
	<h1 class="last-pages__title grotesk grotesk-h1">
		{{ constant['all-' + tag] }}
	</h1>
	{% if collections[tag] | length %}
	<ul class="last-pages__list">
		{%for art in collections[tag]%}
		<li class="last-pages__item">
			<a href="{{ art.url }}">
				<div class="pages">
					<img class="pages__img pages__img_full" src="{{ art.url }}{{ art.data.picture.src }}" />
					<div class="pages__wrapper-text">
						<div class="pages__tags">{{ constant[tag] }}</div>
						<p class="pages__title grotesk grotesk-nav">{{ art.data.title }}</p>
						<p class="pages__date grotesk grotesk_secondary grotesk-b2">
							{{ art.date | transformDate }}
						</p>
					</div>
				</div>
			</a>
		</li>
		{%endfor%}
	</ul>
	{%else %}
	<p class="grotesk grotesk-h2">
		К сожалению в данный момент нет статей на данную тему
	</p>
	{% endif%}
</main>

{% include 'footer.njk' %}
