---
title: 'Незримая надстройка'
permalink: index.html
layout: page.njk
---

{% include 'header.njk' %}

<main class="main">
  <h1>Незримая надстройка</h1>

  {{content | safe}}
</main>

{% include 'footer.njk' %}